body {
  font-family: 'Courier New', monospace;
  background-color:#FFD4A1;
  text-decoration-color: #5C4033;
  
} 
.container {
  width: 100%;
  max-width: 1140px; /* Max width for large screens */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* .App {
  display: flex;
  align-items: center;   
  height: 100vh; 
  flex-direction: column;
  border:#5C4033 1px solid;
} */
.header{
  text-align: center;

}
.header h1{
  margin-top: 50px;
  margin-bottom: 0px;
}
/* 
svg{
  height: 10px;
  width: 10px;
  margin-left: auto;
  cursor: pointer;
}
 */



h1, h3 {
  color: #5C4033;
}

button{
  border-radius: 10px;
  border: none;
  margin-left: 15px;
  font-family: 'Courier New', monospace;;
  color: white;
  background-color:#5C4033;
}


.list{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
}

.task{
  width: 100%;
  margin: 10px;
  color: white;
  background-color: #5C4033 ;
  border-radius: 10px;
  flex-direction: column;
  padding: 5px;
}

label > input{
  border: red solid 2px;
}


input[type="text"]{
  width: 100%;
  padding: 0.5em;
  border-radius:  5px;
  border-color:  #5C4033;

}

.inputs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

input[type="checkbox"] {
  accent-color: white; /* sets the checkmark color (supported in modern browsers) */
  background-color: white;
  border: 1px solid #5C4033; /* Optional: visible border */
  margin-right: 10px;
  margin-left: 10px;
}

/* Medium devices: Tablet (≥768px) */
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

/* Large devices: Desktop (≥992px) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Extra large devices: Large Desktop (≥1200px) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Extra Extra large devices: Larger Desktop (≥1400px) */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

